#page-wrapper{
	margin-left: 100px !important;
	}

.page-header{
	border-bottom: 1px solid #eee !important;
}

.btn-warning{
    padding-top: 0px !important;
	background-color: #ed5d00 !important;
    border-color: #ed5d00 !important;
}
.btn-success{
	background-color: #ed5d00 !important;
    border-color: #ed5d00 !important;
}
.btn-primary{
    background-color: #ed5d00 !important;
    border-color: #ed5d00 !important;
}

.card-primary:not(.card-outline)>.card-header {
    background-color: #df8459 !important;
}
.card-primary:not(.card-outline)>.card-header, .card-primary:not(.card-outline)>.card-header a {
    color: #808080 !important;
}
.card-primary:not(.card-outline)>.card-header, .card-primary:not(.card-outline)>.card-header a {
    color: #3c0808 !important;
    background-color: #ed5d00;
}


.page-item.active .page-link {
    background-color: #d79475;
    border-color: #df8459;
}
.page-link:hover {
    color: #808080;
}
